<!DOCTYPE html>
<html lang="zh-Hant-TW" prefix="og: https://ogp.me/ns#">
<head>
  <link rel="stylesheet" href="./styles/swiper-bundle.min.css">
  <link rel="stylesheet" href="./styles/reset.css?a20210219">
  <link rel="stylesheet" href="./styles/index.css?a20210219006">
  <link rel="stylesheet" href="./styles/confess.css?a20210219">
  <link rel="stylesheet" href="./styles/result.css?a20210219001">
  <link rel="stylesheet" href="./styles/files.css?a20210219">
  <link rel="stylesheet" href="./styles/information.css?a20210219">
  <link rel="stylesheet" href="./styles/cases.css?a20210219">
  <script src="./scripts/mutual.js?a20210219"></script>
  <script src="./scripts/swiper-bundle.min.js"></script>
  <title>疚事排出所</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="疚事排出所" />
  <meta property="og:description"
    content="你也正在找尋一個可以排解這些罪惡感、減輕內疚與負擔的出口嗎？歡迎來到疚事排出所。在這裡你可以勇敢自首，排出罪惡感，減輕負擔，身心舒暢！" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="./data/thumbnail_small.jpg" />
</head>

<body>