<!DOCTYPE html>
  <html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/opening.css">
    <link rel="stylesheet" href="./styles/confess_form.css">
    <link rel="stylesheet" href="./styles/result.css">
    <link rel="stylesheet" href="./styles/files.css">
    <link rel="stylesheet" href="./styles/information.css">
    <script src="./scripts/mutual.js"></script>
    <title>Document</title>
  </head>
  <body>