.test {
    color: #Fff;
    font-size: 50px;
}

.outter {
    background-color: #d1d2d4;
    width: 100%;
    height: 100%;
}

.inner {
    position: absolute;
    background-color: #fffdf4;
    width: 90%;
    height: 90%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
}
.case-list{
    height: 81%;
    overflow-y: scroll;
}
.radio{
    position: absolute;
    z-index: 1;
    width: 20%;
    right: 0;
    bottom: 0;
    filter:drop-shadow(-15px 10px rgba(110, 110, 110, 0.144));
}
.case-bar{
    position: relative;
    background-color: #fffdf4;
    outline: none;
    border: none;
    margin-top: 10%;
}
.case-bar:nth-child(1){
    margin-top: 5%;
}
.case-bar img{
    width: 90%;
    filter:drop-shadow(0 -10px rgba(240,239,232,1));

}
.slogan{
    position: absolute;
    width: 56%;
    left: 50%;
    transform: translateX(-60%);
    bottom: 9%;
}

.case-bar p{
    position: absolute;
    top: 50%;
    width: 65%;
    white-space: nowrap;
    transform: translateY(-55%);
    left: 10%;
    text-align: left;
    font-size: 3vh;
    margin: 0;
    padding: 0;
    overflow : hidden;
    text-overflow : ellipsis;
    color: #796e61;
}

.case-content{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition-property: opacity, margin;
    transition-duration: .5s;
    -moz-transition-property: opacity, margin;
    -moz-transition-duration: .5s;
    -webkit-transition-property: opacity, margin;
    -webkit-transition-duration: .5s;
}

.case-content.is-open{
    height: auto;
    opacity: 1;
    width: 90%;
    left: 0;
    right: 0;
    margin: 4vh auto 0 auto;
    box-sizing: border-box;
    background-color: #c2b59b;
    border-color: #726658;
    border-radius: 30px;
    border-style: solid;
    border-width: 6px;
}
.case-content.is-open .plus-minus{
    border-bottom: solid;
    border-color: #726658;
    border-width: 6px;
    padding: 4%;
}
.plus-minus .plus{
    display:inline-block;
    width:2.3vh;
    height:2.3vh;
    background:
      linear-gradient(#726658,#726658),
      linear-gradient(#726658,#726658),
      #fff;
    background-position:center;
    background-size:55% 0.33vh, 0.33vh 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    border-radius:50%;
}
.plus-minus .minus{
    display:inline-block;
    width:2.3vh;
    height:2.3vh;
    margin-right: 1.5%;
    background:
      linear-gradient(#726658,#726658),
      linear-gradient(#726658,#726658),
      #fffdf4;
    background-position:center;
    background-size: 50% 0.33vh, 0.33vh 0%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
    border-radius:50%;
}

.content-box{
    box-sizing: border-box;
    position: relative;
    display: flex;
}
.content-box .oligo{
    padding: 3% 0 3% 3%;
    margin: 0 0 auto 0;
    height: 14.2vh;
}
.right{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content-box p{
    min-height: 5em;
    /* mode1不註解max-height, mode2註解max-height */
    /* max-height: 5em; */
    padding: 3%;
    word-break: break-all;
    color: #574d42;
    font-size:2vh;
    margin: 0;
    overflow-y: auto;
    white-space: pre-wrap;
}

.content-box .all-let-go{
    align-self: flex-end;
    padding: 3%;
    width: 43%;
    margin: 0 0 0 auto;
}

.case-return{
    position: absolute;
    right: 1.5%;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 3vh;
    height: 3vh;
    border: none;
    padding: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 50%;
    transition: background-color .3s;
    outline: none;
}
.case-return:hover, .case-return:focus{
    background-color: rgba(236, 185, 64, 0.4);
}
.case-return:active{
    transform: scale(0.85);
}
.case-return img{
    width: 100%;
    height: 100%;
    filter: invert(35%) sepia(60%);
}
.case-return-space{
    position: relative;
    z-index: 1;
    background-color: rgba(0,0,0,0);
    height: 5%;
    box-shadow: 0px 5px 4px #574d42;
}
.no-data-alert{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    padding-top: 30px;
    white-space: nowrap;
}

.no-data-alert.hide{
    display: none;
}

/* loading-css */
.lds-ring.hide{
    display: none;
}
.lds-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ffc65d transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  