.confess-form{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: opacity .3s ease 0s;
}
.confess-form img{
    width: 100%;
    height: 100%;
}
.confess-form .category{
    position: absolute;
    top: 35%;
    left: 18%;
}
.confess-form textarea{
    position: absolute;
    box-sizing: border-box;
    top: 55.2%;
    left: 20.2%;
    height: 20.4%;
    width: 58%;
    opacity: 1;
    border:none;
    /* font-size: 12px; */
    background-color: #f3ebd9;
    resize: none;
    padding: 10px 0;
}
.confess-form textarea:focus{
    outline: none;
}
.confess-form .commit{
    position: absolute;
    height: 7.3%;
    width: 27.2%;
    bottom: 7.9%;
    right: 11.8%;
    opacity: 0;
    cursor: pointer;
    /* border: 4px solid #5eca91c2; */
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
}
/* .confess-form .commit:focus{
    opacity: 1;
    transition: 1s;
    outline: none;
} */
.confess-form.fadeout{
    opacity: 0;
}
.confess-form.display-none{
    display: none;
}
.vid-push{
    width: 100%;
    height: 100%;
}


.swiper-container{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}
.swiper-slide{
    background-color: #cdcbcd;
}
.next-page{
    position: absolute;
    width:30%;
    height:20%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0);
    z-index: 1;
    outline: none;
    border: none;
}