html, body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000;
}
@font-face {
    font-family: "CSong3HK Medium";
    src: url('../data/fonts/蒙納繁長宋.otf');
    src: url('../data/fonts/converted-files/CSong3HK-Medium.woff');
}
@font-face {
    font-family: Optima;
    src: local('Optima');
    src: url('../data/fonts/Optima.ttc');
    src: url('../data/fonts/converted-files/Optima-Regular.woff2');
}
.font-song{
    font-family: "CSong3HK Medium";
}
.font-optima{
    font-family: Optima;
}
.window-wrap {
    position: absolute;
    height: 100vh;
    width: 56.25vh;
    min-height: 560px;
    min-width: 320px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow-y: hidden;
  }
  
  @media all and (max-width: 767px){
    .window-wrap {
      height: 177.77vw;
      width: 100vw;
    }
  }